<div class="main-container">
  <h1 class="text-heading">
    Best tool to crop avatar pictures!
  </h1>
  <div class="text-subtitle">
    Let's start by uploading your picture
  </div>
  <input type="file" (change)="onFileChange($event)" accept="image/*" class="file-input">
  <div *ngIf="fileSizeError" class="error-message red-default error-bg">{{ fileSizeError }}</div>
  <div *ngIf="generalError" class="error-message red-default error-bg">{{ generalError }}</div>
  <div class="mask-container" id="mask-container">
    <img [src]="imageSrc" id="image">
    <div class="mask"></div>
  </div>
  <button (click)="onCrop()">Crop and download</button>
</div>